*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: #020D0D;
    color: #D7E4E4;
    /* font-family: Roboto Serif; */
}

.header{
    padding: 1vmax;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links a{
    text-decoration: none;
    font-size: 1.4vmax;
    padding: 1vmax;
    color: #D7E4E4;
}

.container1{
    text-align: center;
}
.container1 h2{
    padding: 3vmax 0;
    font-size: 5vmax;
}
.container1 img{
    height: 45vmax;
    width: 90vw;
    object-fit: cover;
    border: 10px;
}
/* Projects */

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 52px;
    padding: 20px;
    margin: 65px;
}

.projects .project {
    
    size: 20px;
    
    width: 413.33px;
    height: 333px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
}

.projects .project img {
    width: 100%;
    height: auto;
    
}
/* Container 2 */
.container2{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.container2 .contact{
    text-align: center;
}
/* Container 3 */
.container3{
    padding: 1vmax;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Contianer 4 */
#container4{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container4 .contact{
    text-align: center;
}
#container4 .contact h2{
    padding: 0.4vmax;
}
#container4 .contact .input{
    padding: 2vmax 0;
}
#container4 .contact .input input[type="number"]{
    width: 3vmax;
    height: 3vmax;
    background:rgba(209, 235, 235, 0.4);
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 1.5vmax;
}
#container4 .contact button{
    color: #000;
    width: 100%;
    background-color: rgba(0, 255, 255, 1);
    border: none;
    padding: 0.7vmax 1vmax;
    border-radius: 10px;
    margin-bottom: 2vmax;
}
#container4 .contact a{
    text-decoration: none;
    font-size: 1vmax;
    color: rgba(0, 255, 255, 1);

}

@media (max-width:700px) {
    .links a{
        padding: 0;
    }
}